@page "/All_Products"

@using ApiServices.Dtos
@using ApiServices.Interfaces
@using ApiServices.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using System.ComponentModel.DataAnnotations
@using Events

@inject CartEvent CartEvent
@inject AuthenticationStateProvider authenticationProvider
@inject IUnitOfWork UnitOfWork


<head>
    <style>

    </style>
</head>

<body>
    @if (Products == null)
    {
        <h1>Hubo un problema cargando los productos</h1>
    }
    else if (Products.Count == 0)
    {
        <h1>No hay productos para mostrar</h1>
    }
    else
    {
        <div class="container">
            <div class="row">
                @foreach (var product in Products)
                {
                    var base64String = Convert.ToBase64String(product.Imagen);
                    var imageSrc = $"data:image/png;base64,{base64String}";
                    <div class="card" style="width: 18rem;">
                        <img src="@imageSrc" class="card-img-top" alt="ProductImage">
                        <div class="card-body">
                            <h5 class="card-title text-center">@product.NombreProducto</h5>
                            <p class="card-text text-center">Precio: @product.Precio</p>

                            <a @onclick="() => AddToCart(product)" class="btn btn-primary">Añadir al carrito</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</body>



@code {
    private readonly List<ProductoDto> Products = new();

    private void AddToCart (ProductoDto product)
    {
        CartEvent.AddToCartEvent(product);
    }

    protected override async Task OnInitializedAsync()
    {
        var AuthService = (AuthenticationService)authenticationProvider;
        var userInformation = await AuthService.GetAuthenticationStateAsync();
        var UserId = int.Parse(userInformation.User.FindFirst("UserId").Value);

        var ProductList = await UnitOfWork.ProductoService.GetProductos();
        Products.AddRange(ProductList);
    }
}